

.App{
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: 1s ease-in-out;
}
.about{
  border-left: 4px solid #2b5592;
  margin-left: 2px;
}
.projects{
  border-left: 4px solid rgb(236 72 153);
  margin-left: 2px;
}
.contact{
  border-left: 4px solid black;
  margin-left: 2px;
}
.animateIn{
  transform: translateY(-40px);
  transition: transform 1s ease-in-out;
  visibility: visible;
}

.scaleUp{
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  
}
.skills {
  perspective: 2000px;
}
.skills div{

  position: relative;
  transform: translateZ(300px) ;
  transform-style: preserve-3d;
  transition: transform 2s;
  backface-visibility: hidden;
  background-color: black;
transform-origin: center;
transform-box: view-box;  
}
.skills div h2{
  position: absolute;
  max-width: 200px;
  overflow-wrap: normal;
  
  
} 
.head{
  background: linear-gradient(to right, #2b5592 0%, #64bbe3 100%);
  padding: 40px;
  border-radius: 10px;
}
.default-color{
  background-color: #2b5592;
}
.my-name {
	text-transform: uppercase;
	background: linear-gradient(to right, #64bbe3 0%, white 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}
.project-section-title,.education{
	text-transform: uppercase;
	background: linear-gradient(to right, rgb(236 72 153) 0%, rgb(30 41 59) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.skills div h2:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.skills div h2:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.skills div h2:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.skills div h2:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.skills div h2:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.skills div h2:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.skills div h2:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.skills div h2:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.skills div h2:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }

.animateSkills{
  animation-duration: 20s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
} 

@keyframes slidein {
  from {
   
   transform: rotateY(0deg) translateX(30%);
    
  }
  
  10%{
   
    
    transform: rotateY(40deg) translateX(10%);

  }
  20%{
   
    
    transform: rotateY(80deg) 20%;

  }
  30%{
   
    
    transform: rotateY(120deg) 30%;

  }
  40%{
   
    
    transform: rotateY(160deg) ;

  }
  50%{
   
    
    transform: rotateY(200deg) ;

  }
  60%{
   
    
    transform: rotateY(240deg) ;

  }
  70%{
   
    
    transform: rotateY(280deg) ;

  }
  80%{
   
    
    transform: rotateY(320deg) ;

  }
  

  to {
   
    transform: rotateY(360deg) ;
    
    
  }
} 

.languages div{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
  backface-visibility: hidden;
  background-color: black;
  transform-origin: center;
  
}
.languages div:hover{
  transform: rotateY(180deg) translateX(-100px);
  color: #2b5592;
  
}

.english h2{
  transform: translateX(10px);
  position: absolute;
  left: 0;
  width: 85px;

}
.spanish h2{
  transform: translateX(60px);
  position: absolute;
  left: 0;
  width: 85px;

 
}
.french h2{
  transform: translateX(110px);
  position: absolute;
  left: 0;
  width: 85px;

 
}
.languages div h2:nth-child(1){
  background-color: rgb(236 72 153);
  transform: rotateY(180deg) translateX(-12%);
  width: 80px;
  overflow: hidden;
  max-lines: 1;
  text-overflow:ellipsis;
}

.languages div:hover h2:nth-child(1){
  width: auto;
  overflow: auto;
animation-duration: 4s;
transition: 2s ease;
animation-name: fadeInGreeting;
}

@keyframes fadeInGreeting {
  from{
    opacity: 0.0;
   
  }
  
50%{
  transform: scale(1.1) rotateY(180deg);

}
  
  to{
    opacity: 1;
  }
  
}

.dome{
  transform: translateX(-200px) translateY(100px);
}
.domeoverlay a{
  position: absolute;
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  place-content: center;
  transition: 1s ease-out;
  margin-top: 120px;
}
.domeoverlay a:nth-child(1){
  transform: translateY(-5px) translateX(-360px);

}
.domeoverlay a:nth-child(2){
  transform: translateY(-40px) translateX(-240px);

}
.domeoverlay a:nth-child(3){
  transform: translateY(-70px) translateX(10px);

}
.domeoverlay a:nth-child(4){
  transform: translateY(-35px) translateX(250px);

}
.domeoverlay a:nth-child(5){
  transform: translateY(-10px) translateX(360px);

}

@media (max-width: 640px) {
  .domeoverlay a:nth-child(1){
    transform: translateY(-20px) translateX(-160px);
  
  }
  .domeoverlay a:nth-child(2){
    transform: translateY(-90px) translateX(-110px);
  
  }
  .domeoverlay a:nth-child(3){
    transform: translateY(-110px) translateX(7px);
  
  }
  .domeoverlay a:nth-child(4){
    transform: translateY(-85px) translateX(110px);
  
  }
  .domeoverlay a:nth-child(5){
    transform: translateY(-20px) translateX(160px);
  
  }
}
.project:hover{
  transform: scale(1.2);
  transition: 500ms ease-in-out;
  background-color: #2b5592;
  border-radius: 5px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: white;
}