 @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap'); 
 *{
  box-sizing: border-box;
  scrollbar-width: 2px;
 }

.App{
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: 1s ease-in-out;
}

/* Animation classes. To be used for animating content together with intersection observer api */
.animateIn{
  animation: translateUp 1s ease-out;
}
.slideIn{
  animation: translateRight 1s ease-out; 
}

@keyframes translateUp {
  from{
    transform: translateY(-10px);
    
  }
  
  to{
    transform: translateY(0px);
  }
}
@keyframes translateRight {
  from{
    transform: translateX(-22px);
    
  }
  
  to{
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0.5;
    
  }
 
  to{
    opacity: 1;
  }
}

.scaleUp{
  transform: scale(1);
  transition:  500ms ease-in-out;
  
}
.ease-switch{
  transition: 400ms ease-in-out;
}

/* Top nav bar */
.nav{
height: 9.5%;
}


/* Each page should transition into view. More work to be done*/
.page{
  transition:transform 1s ease-out;
}

/* Main container taking out the nav bars */
.content-body{
  height: 85%;
  width: 94%;
  margin-left: 3%;
  margin-top: 6%;
  
}
/* Child of main container taking a central position */
.content{
  margin-left: 8.3%;
}

/* project card styles */
.parent{
  position: relative;
width: 300.95px;
height: 455px;

}
.base{
  
position: relative;
width: 300px;
height: 455px;
background-color: #ffe4c4;
border-radius: 12px;
}
.image{
  position: absolute;
width: 320px;
height: 193px;
top: 45px;
transform: translateX(-70px);
animation: fadeIn 300ms ease-in;
border-radius: 8px;
z-index: 7;
border: 4px solid rgb(233, 138, 23);
}
.description{
  position: absolute;
width: 280px;
top: 200px;
height: auto;
padding: 10px;
color: rgb(233, 138, 23);
background-color: beige;
border-radius: 8px;
transform: rotate(2deg) translateX(40px);
animation: fadeIn 400ms ease-in;
z-index: 8;
}
.stack{
  position: absolute;
width: 250.71px;
height: auto;
padding: 10px;
top: 270px;
background: rgb(233, 138, 23);
border-radius: 8px;
transform: rotate(-3deg) translateX(-40px);
animation: fadeIn 500ms ease-in;
z-index: 6;
}
.actions{
  bottom: 5px;
}
.actions button{
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.004);
  color: rgb(233, 138, 23);
  font-weight: bolder;
}

/* Hide scroll bars  */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}








